extends layout

block content

  nav(class="navbar navbar-expand-lg navbar-light bg-light")
    div(class="collapse navbar-collapse" id="navbarNav")
      ul(class="navbar-nav")
        li(class="nav-item active")
          a(class="nav-link" href="#") Home
        li(class="nav-item active")
          a(class="nav-link" href="#") About
        li(class="nav-item active")
          a(class="nav-link" href="https://news.ycombinator.com") Mama-Site
        li(class="nav-item dropdown")
          a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Top Posts
          div(class="dropdown-menu" aria-labelledby="navbarDropdown")
            a(class="dropdown-item" href="#") By Month
            a(class="dropdown-item" href="#") By Year
            div(class="dropdown-divider")
              a(class="dropdown-item" href="#") All Time

  div(class="container")
    div(class="row")
      div(class="col-sm")
        h1 Welcome to hn-dot-tech
        hr
        p Here is our database of top hn posts:
        each item in title
          p= item.title
        hr
        p #{title}
